.logo img {
  width: 45px;
  height: 50px;
}
.navbar {
  width: 300px;
  display: flex;
  padding: 30px 65px;
  gap: 25px;
}
.big-container {
  display: flex;
  background-color: #141413;
  width: 100%;
  margin: 0 auto;
}

.item ul li a {
  text-decoration: none;
  color: #7d8287;
  font-size: 28px;
  font-weight: 200;
  line-height: 48px;
}
.item ul li {
  list-style: none;
}
.item ul li a:hover {
  color: #e4e7f1;
}
.item p {
  color: #595a5e;
  letter-spacing: 2px;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  font-family: sans-serif;
  padding-left: 20px;
}
.item p:hover {
  color: #e4e7f1;
}
.header img {
  width: 750px;
  height: 700px;
  position: relative;
  left: 520px;
  top: -130px;
}
.header h1 {
  color: #e4e7f1;
  margin-top: -550px;
  font-size: 80px;
  margin-left: 760px;
  line-height: 130px;
}
.order-project {
  width: 250px;
  height: 250px;
  border: 1px solid #ffff;
  margin-left: 350px;
  background-color: #000000;
  margin-top: -60px;
}
.order-project:hover {
  border-top-left-radius: 50%;
  /* border-top-right-radius: 50%; */
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.order-project h3 {
  color: #ffff;
  font-size: 35px;
  font-weight: 400;
  margin-top: 40px;
  margin-left: 50px;
}
#arrow {
  margin-left: 150px;
}
.header h2 {
  color: #ffff;
  text-align: left;
  font-size: 45px;
  font-family: Jost;
  font-weight: 400;
  margin-top: 100px;
  margin-left: 100px;
}
span {
  color: #454648;
}
.Services {
  margin-left: -450px;
  background-color: #141413;
  margin-top: 75px;
  width: 1900px;
}
.Services img {
  position: relative;
  top: 1px;
  left: 550px;
}
.Services marquee {
  color: #cbced7;
  font-size: 200px;
  position: relative;
  width: 1200px;
  top: -420px;
  left: 300px;
}
.design {
  color: #ffff;
  margin-top: -90px;
}
.design-div-1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-right: -900px;
  margin-left: 600px;
  height: 90px;
  width: 1100px;
  align-items: center;
}
.design-div-1:hover {
  background-color: #e4e7f1;
  color: #000000;
}
.design-div-1 h1 {
  font-size: 38px;
}
.design-div-1 p {
  font-size: 35px;
  color: #595a5e;
}
.design-img img {
  width: 320px;
  height: 400px;
  position: relative;
  left: 450px;
  top: -240px;
}
.portfolio {
  width: 100%;
  height: 900px;
}

.portfolio img {
  position: relative;
  top: 240px;
  left: 580px;
}
.portfolio marquee {
  font-size: 180px;
  color: #cbced7;
  width: 950px;
  position: relative;
  top: 120px;
  left: -200px;
}
.portfolio-1 {
  width: 100%;
  height: 900px;
  background-color: #141413;
}
.div-1 img {
  width: 450px;
  height: 350px;
  border-radius: 5px;
}
.miror-maze {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.div-1 h3 {
  text-align: center;
  color: #ffff;
  font-size: 15px;
  line-height: 10px;
}
.div-1 h1 {
  text-align: center;
  color: #ffff;
  font-size: 20px;
  line-height: 10px;
}
.div-1 p {
  color: #676767;
  text-align: center;
  line-height: 5px;
}

.arow {
  margin-top: 80px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.arrow-1,
.arrow-2 {
  width: 20px;
  height: 20px;
  border: 2px solid #ffff;
  padding: 20px 20px;
}
.bx {
  color: #ffff;
  text-align: center;
  font-size: 30px;
  margin-top: -5px;
  margin-left: -5px;
}
